.item {
  position: relative;
}
.item a {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-decoration: none;
  right: 0;
}
.image {
  height: 300px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.caption {
  color: white;
  padding: 2rem;
  font-size: 1.6rem;
}
.caption:hover {
  color: crimson;
}
@media (min-width: 56.25em) {
  .image {
    height: 100vh;
    width: 50%;
    background-size: cover !important;
    float: left;
  }
}
